.lang {
  position: fixed;
  top:0;
  left:0;
  z-index: 70;
  list-style: none;
  margin: 0 0 0 35%;
  padding: 0 0 0 0;
  width: 30%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: center;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}
.li {
  cursor: pointer;
  flex: 1;
  text-align: center;
  min-height: 20px;
  background: darken(deepskyblue, 15%);
  border-radius: 0 0 10px 10px;

}
.container-col {
  padding: 5em 4em 0 4em;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.section{
  //text-align:center;
  background-size: cover;
}

#section4 {
  .textOlso {
    margin-top: 0;
    background: rgba(0, 0, 0, 0);
  }
  .container-col {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4em;
    margin: -1em;
    background: rgba(0, 0, 0, 0.8);

    .col-1 {
      text-align: end;
      color: white;
      padding-left: 1em;
      padding-right: 1em;
    }
    .col-3 {
      flex: 3;
      color: white;
    }

    .left {
      text-align: start;
    }

  }
}

.gallery {
  display: none;
}
body:not(.fp-viewing-4) {
  .gallery {
    position: fixed;
    z-index: 70;
    list-style: none;
    padding: 2em 4em 0 4em;
    right: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;

    a {
      text-decoration: none;
      display: block;
      padding: 1em 1em 1em 4em;
      border-radius: 5px;
      color: black;
      background: rgba(245,245,245,0.80) url(../img/ico/foto_001.png) 14px no-repeat;
      background-color: rgba(245, 245, 245, 0.80);
    }
    &:hover {
      cursor: pointer;
      a {
        background: rgba(245,245,245,0.80) url(../img/ico/foto_002.png) 14px no-repeat;
        color: rgba(185, 45, 33, 1.00);
      }
    }

  }
}
#blueimp-gallery {
  .title {
    background-color: rgba(0,0,0,0.5);
    border: 0;
    color: rgba(255,255,255,0.70);
    font-size: 75%;
    font-family: "FreeSet Cyrillic", Arial, sans-serif;
    line-height: 1.5em;
    white-space: pre-wrap;
  }
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
}
.slideout-panel {
  position: relative;
  z-index: 1;
  //will-change: transform;
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}
.slideout-open .slideout-menu {
  display: block;
}

body {
  font-family: verdana, serif;
}

#preload {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  opacity: 1;
  position: fixed;
  padding-top: 30%;
  text-align: center;
  display: block;
}

@media all and (max-width: 1000px) {
  .container-col {
    //justify-content: flex-start;

    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  .col-1 {
    text-align: center;
  }
}
@media all and (max-width: 700px) {
  .lang {
    display: none;
  }
  body:not(.fp-viewing-4) {
    .gallery {
      display: none;
    }
  }
}