.section{
  text-align:center;
  background-size: cover;
}

#section0 {
  background: url(../img/1-.jpg) no-repeat center;
  background-size: cover; /* Масштабируем фон */
}

#section1 {
  background: url(../img/about_5.jpg) no-repeat center;
  background-size: cover; /* Масштабируем фон */
}

#section2 {
  background: url(../img/DSC_6399.jpg) no-repeat center;
  background-size: cover; /* Масштабируем фон */
}

#section3 {
  background: url(../img/sh_p_005.jpg) no-repeat center;
  background-size: cover; /* Масштабируем фон */
}

#section4 {
  background: url(../img/promo_works_master.jpg) no-repeat center;
  background-size: cover; /* Масштабируем фон */
}
