.Home {
  body:not(.fp-viewing-0) {

    .navigation-bar {
      top: 4em;
      animation: nav-bar-bottom 2s 1;
    }
    @keyframes nav-bar-bottom {
      0% {
        top: 0;
      }
      70% {
        top: 4em;
      }
    }

    .active {
      .container-col {
        animation: marginSectionHome 3s 1;
      }
      @keyframes marginSectionHome {
        0% {
          margin: 0 100% 0 -100%;
        }
        70% {
          margin: 0;
        }
      }
    }
  }

  .fp-viewing-0 .navigation-bar {
    bottom: 7em;
    top: inherit;
    animation: nav-bar-top 2s 1;

    @keyframes nav-bar-top {
      0% {
        bottom: 0;
      }
      70% {
        bottom: 7em;
      }
    }
  }

  .logo {
    padding: 0 0 2em 0;
  }

  .title {
    background: rgba(185, 45, 33, 1.00);
    color: white;
    padding: 0 13px 0 30px;
  }

  .textSection0 {
    max-width: 37em;
    padding: 0 0 0 30px;
  }

  .textOlso {
    left: 2em;
    right: 2em;
    margin-top: 100px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.8);

    b {
      line-height: 30px;
    }
  }

  @media all and (max-width: 1000px) {
    .title {
      background: rgba(185, 45, 33, 1.00);
      color: white;
      padding: 0 0 0 0;
    }

    .textSection0 {
      padding: 0 0 0 0;
    }

    .col-3 {
      text-align: center;
    }

    #section4 .container-col {
      .col-1 {
        text-align: center;
      }

      .left {
        text-align: center;
      }
      .logo {
        padding: 0;
      }
    }

  }

  @media handheld and (orientation: portrait) {
    .col-2 {
      text-align: center;

      .textSection0 {
        max-width: none;
      }
    }
  }
}