.navigation-bar {
  position: fixed;
  z-index: 70;
  list-style: none;
  padding: 0 4em 0 4em;
  //background: darken(deepskyblue, 15%);
  left: 0;
  right: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: center;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}
.navigation-bar a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
  background-color: rgba(245,245,245,0.80);
}
.navigation-bar a:hover {
  color: rgba(185,45,33,1);
}

.home {
  a {
    background: rgba(245,245,245,0.80) url(../img/ico/google.png) 14px no-repeat;
    border-radius: 5px 0 0 5px;
  }
}
.horeca {
  &:hover {
    a {
      background: rgba(245,245,245,0.80) url(../img/ico/pinterest-hover.png) 14px no-repeat;
    }
  }
  a {
    background: rgba(245,245,245,0.80) url(../img/ico/pinterest.png) 14px no-repeat;
  }
  a.active {
    background: rgba(245,245,245,0.80) url(../img/ico/pinterest-hover.png) 14px no-repeat;
  }
}
.clothes {
  &:hover {
    a {
      background: rgba(245,245,245,0.80) url(../img/ico/youtube-hover.png) 14px no-repeat;
    }
  }
  a {
    background: rgba(245,245,245,0.80) url(../img/ico/youtube.png) 14px no-repeat;
  }
  a.active {
    background: rgba(245,245,245,0.80) url(../img/ico/youtube-hover.png) 14px no-repeat;
  }
}
.decol {
  &:hover {
    a {
      background: rgba(245,245,245,0.80) url(../img/ico/d_003.png) 14px no-repeat;
    }
  }
  a {
    background: rgba(245,245,245,0.80) url(../img/ico/d_001.png) 14px no-repeat;
  }
  a.active {
    background: rgba(245,245,245,0.80) url(../img/ico/d_003.png) 14px no-repeat;
  }
}
.contact {
  &:hover {
    a {
      background: rgba(245,245,245,0.80) url(../img/ico/e_003.png) 14px no-repeat;
    }
  }
  a {
    background: rgba(245,245,245,0.80) url(../img/ico/e_001.png) 14px no-repeat;
  }
  a.active {
    background: rgba(245,245,245,0.80) url(../img/ico/e_003.png) 14px no-repeat;
  }
}
.feedback {
  a {
    background: rgba(245,245,245,0.80) url(../img/ico/f_001.png) 14px no-repeat;
  }
}

.home, .horeca, .clothes, .decol, .contact, .feedback, .gallery {
  cursor: pointer;
  flex: 2;

  .caption {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
  }
  .text {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }
  a {
    padding-left: 57px;
  }
}

.blockimage a {
  //flex: 1;
  width: 8px;
  min-height: 4em;
  padding: 0;
  background: rgba(245,245,245,0) url(../img/backgrounds/perfo.png) repeat;
}
.olso {
  text-align: center;
  flex: 2;
}
.last a {
  border-radius: 0 5px 5px 0;
}


@media all and (max-width: 1000px) {
  .navigation-bar {
    justify-content: flex-start;
    margin: 0 0 0 0;
  }
}
@media all and (max-width: 600px) {
  .navigation-bar {
    //-webkit-flex-flow: column wrap;
    //flex-flow: column wrap;
    margin: 0 0 0 0;
  }

  .navigation-bar a {
    text-align: center;
    //padding: 10px;
    padding: 1.4em 1em 1.4em 1em;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .navigation-bar li:last-of-type a {
    border-bottom: none;
  }

  .blockimage a {
    padding: 0;
  }
}
@media all and (max-width: 700px) {
  .navigation-bar {
    display: none;
  }
}