//#menu li.active a{
//  color: #fff;
//}
//#menu{
//  position:fixed;
//  top:0;
//  left:0;
//  height: 40px;
//  z-index: 70;
//  width: 100%;
//  padding: 0;
//  margin:0;
//}

.navigation {
  position: fixed;
  bottom:0;
  left:0;
  z-index: 70;
  list-style: none;
  margin: 0 0 9% 4%;
  padding: 0 0 0 0;
  //background: darken(deepskyblue, 15%);
  width: 92%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: center;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1.4em 1em 1.4em 1em;
  color: black;

  background-color: rgba(245,245,245,0.80);
}

.navigation a:hover {
  color: rgba(185,45,33,1.00);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: flex-start;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.home {
  flex: 3;
  a {
    background: rgba(245,245,245,0.80) url(../img/google.png) 14px no-repeat;
    border-radius: 5px 0 0 5px;
    padding-left: 57px;
  }
}

.blockimage a {
  //flex: 1;
  width: 8px;
  min-height: 4em;
  padding: 0;
  background: rgba(245,245,245,0) url(../img/perfo.png) repeat;
}

.olso {
  text-align: center;
  flex: 2;
}

.last a {
  border-radius: 0 5px 5px 0;
}
